
body {
  background-color: $background-color;  // Black background
  color: $gray;  // Default text color
}

body h1 {
  color: $white;  // Targeting h1 inside body
}

p {
  color: $light-gray;   /* Use your custom red for paragraphs */
}

a {
  color: $my-orange; /* Set link color */
  text-decoration: none;

  &:hover {
    color: $my-yellow; /* Hover effect for links */
  }
}
