body {
  background-color: #000000; /* light gray-blue color */
}


// comment: here I tried how the colors would look like on h1 and p

h1 {
  color: $white; /* White color for h1 */
}

p {
  color: $light-gray; /* Light gray color for p */
}
