// Color Scheme (Le Wagon)
$brand-color: #060404;



// Personal Color Scheme
$white: #ffffff;
$background-color: #000000;
$my-yellow: #FFE31A;
$my-dark-blue: #00215E;
$my-red: #FC4100;
$my-orange:   #FF6500;
$my-blue:   #2C4E80;
$my-extreme-red: #b42d00;

$light-gray: #f7f7f7; /* Light gray color */
$gray: #6c757d; /* Gray color */
$black: #000000; /* Black color */
