
.favorite-card {
  background-color: $medium-gray;  
}


.favorite-body {
  background-color: $medium-gray;
  border-radius: 0 0 $border-radius-lg $border-radius-lg;
}

.text-warning {
  color: yellow !important;
}

