.container {
    max-width: 400px;
    background-image: asset-url('home-background.jpg');
    background-size: cover
}

.title-container{
    background-color: rgba(0, 0, 0, 0.3); 
    border-radius: 500px;
}