/* Full-page banner */
.banner {
  height: 45vh; /* Full viewport height */
  position: relative;
  overflow: hidden; /* Ensure content doesn't overflow */
}

/* Banner image */
.banner-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

/* Placeholder for missing image */
.banner-placeholder {
  height: 100vh; /* Full viewport height */
  font-size: 1.5rem;
}

/* Recipe card */
.recipe-card {
  // height: 60vh; /* Fixed height */
  background-color: $medium-gray;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: $black;
  padding: 15px;
  display: flex; /* Flexbox to arrange inner content */
  flex-direction: column; /* Stack content vertically */
  margin-top: auto; /* Push the card to the bottom of the parent container */
  opacity: .85;
}

.row {
  margin: 0; /* Reset margins for proper alignment */
  padding: 0; /* Reset paddings */
}
