<div class="d-flex align-items-center mb-4">
  <%= link_to 'javascript:history.back()', class: 'text-white me-3' do %>
    <i class="fas fa-arrow-left fa-2x"></i>
  <% end %>
  <h1 class="text-white m-0"><%= title %></h1>
</div>
