<div class="d-flex align-items-center mb-4 position-relative">
  <%= link_to 'javascript:history.back()', class: 'text-white position-absolute start-0' do %>
    <i class="fas fa-arrow-left fa-2x text-primary"></i>
  <% end %>
  <h1 class="text-white m-0 w-100 text-center"><%= title %></h1>
</div>