<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner d-flex justify-content-center align-items-center" style="height: 75vh">
  <div class="banner-content text-center">
    <h1>Welcome to MatchMeal!</h1>
    <p>Make the most of what's in your kitchen</p>
    <%= link_to "Start now", detect_ingredients_recipes_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>
