body {
  background-color: #000;
  color: #fff;
  height: 100vh;
  margin: 0;
}

.header {
  color: #ffd500;
  font-weight: bold;
}

.start-btn {
  background-color: #ffd500;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 1.2rem;
}

.start-btn:hover {
  background-color: #e6c200;
  color: #000;
}


.background-icon {
  background-image: asset-url('backgroundimage.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.custom-h1 {
  font-size: 3rem;
}
